body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url(sawah.jpg);
  background-size: cover;
  background-attachment: fixed;
  /*opacity: 0.95;*/
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#666600;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 25px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidebar .active{
  color: black;
  background-color:#CCCC00;
  /*position: relative;*/
}

.sidebar .active2{
  background-color: #165F3B;
  /*position: relative;*/
}

.sidebar a:hover {
  color: #000000;
}

.card-check{
  padding: 0px 10px;
  width:800px;
  height:100em;
  background:#808000;
  margin-top: 75px;
  margin-left: 22em;
  border-radius: 5px 5px 5px 5px;
 }

.card-check .hasil{
	float: left;
	width: 40%;
	padding: 0px 20px;
}
.card-check .hasil2{
	float: right;
	width: 40%;
	padding: 0px 40px 30px;
}
.card-check h2{
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

table {
  width: 100%;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  color: white;
}

.card-check form{
	font-family: sans-serif;
	font-size: 17px;
	color: white;
}
.card-check select{
	width: 150px;
	height: 30px;
	font-size: 15px;
}
.card-check .button{
	width: 100px;
	height: 30px;
	font-size: 17px;
	background-color:#CCCC00;
}
.card-check p{
	color: black;
	font-size: 18px;
	margin-left: 10px;
}


/*form .content3{
  float: right;
  padding: 25px 70px;
  position: relative;
  font-family: sans-serif;
  font-size: 15px;
}

form .content3 a{
  width: 100px;
  margin-left: 2em;
}

form .content3 input[type=text], input[type=date]{
  width: 100%;
  padding: 5px 13px;
  box-sizing: border-box;
}


form .content3 input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 100px;
  text-decoration: none;
  margin-left: 39%;
  cursor: pointer;
}

form .content3 input[type=submit]:hover{
  background-color: #089951;
}*/

.card-check .content3 label{
  color: white;
}

.hasil center h3{
  color: white;
  margin-top: 80px;
}

.hasil center h4{
  color: white;
  /*margin-top: 80px;*/
}