body {
  margin:0;
  font-family: 'Segoe UI';
  background-image: url('sawah.jpg');
  background-size: 1440px 720px;
}

.atasan ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position:fixed;
  top: 0;
  width: 100%;

}

.atasan li {
  float: left;
}

.atasan li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

.atasan li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #CCCC00;
}

.center{
  text-align: center;
  margin-top:2em;  
  font-size: 40px;
  font-family: "Gloss And Bloom";
}
.center p{
  font-size: 30px;
  font-family:"serif";
  text-align: center;
  color: white;
  padding: 0px 100px 100px;
}

.bottomText{
  text-align: center;
  margin-top: 10em;
}
@media only screen and (max-width: 1080px) {
  .atasan ul {
    width: auto;
  }
  .atasan li{
    width: auto;
  }
  .atasan li a{
    width: auto;
  }
  .atasan li a:hover:not(.active) {
    width: auto;
  }
  .active {
    width: auto;
  }
  .center{
    width: 68%;
  }
  .center p{
    width: 68%;
  }
  .bottomText{
    width: 68%;
  }
}

